doctype html
html(lang="en")
  head
    title Members Only
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="stylesheets/reset.css")
    link(rel="stylesheet", href="stylesheets/style.css")
  body
    header
        h1 Members Only
          if currentUser
            p!= currentUser.username
            a(href="/logout") Log Out 
          else
            a(href="/login") Log In 

  
    aside
      ul
        if currentUser
          li 
            a(href="/") Home
          li
            a(href="/post-message") Post a Message
          li
            a(href="/member-register") Become a Member
          li
            a(href="/admin-register") Become an Admin
        else
          li
            a(href="/") Home
          li
            a(href="/register") Register

    section
      block content
