extends layout

block content
  h1 Log In

  form(action="", method="post")
    label(for="login_form_username") Username
    input#login_form_username(type="text", name="username", placeholder="catlover74" value=(userInput === undefined ? "" : userInput.username))
    label(for="login_form_password") Password
    input#login_form_password(type="password", name="password", value=(userInput === undefined ? "" : userInput.password))
    button(type="submit") Submit
    a(href="/") Cancel

  if errors
    ul
      each error in errors
        li!= error.msg
