extends layout

block content
  h1 Become a Member

  if currentUser.isMember
    p You are already a member.
  else
    form(action="", method="POST")
      label(for="become_member_password") Password
      input#become_member_password(type="password", name="password", value=(password === undefined ? "" : password))
      button(type="submit") Submit
      a(href="/") Cancel

    if errors
      ul
        each error in errors
          li!= error.msg
